<!DOCTYPE html>
<html>
<head>
    <title>Lotka blog</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
  	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
  	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

  	<style type="text/css">
  		html,
  		body {
  		  height:100%
  		}
  	</style>
</head>
<body class="body" style="background-color:white">
  <div class="container" style="min-height:90%; ">  <!-- ikonki gorne -->
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
        </div>
        <div class="col-sm-2">
        <center>
          <br>
          <p><a href="#" target="blank"><img src="{% static 'personal/img/face_icon.png' %}" style='max-height:20px;'></a>  |
              <a href="#" target="blank"><img src="{% static 'personal/img/inst_icon.png' %}" style='max-height:20px;'></a> |
              <a href="#" target="blank"><img src="{% static 'personal/img/pin_icon.png' %}" style='max-height:20px;'></a>  |
              <a href="#" target="blank"><img src="{% static 'personal/img/gogle_icon.png' %}" style='max-height:20px;'></a></p>
        </center>
      </div>
  </div>

  <div class="container" style="min-height:90%; "> <!-- logo -->
      <div class="row">
        <div class="col-sm-12">
          <center>
            <img src="{% static 'personal/img/lotka.png' %}" class="responsive-img" alt="logo_glowne">
          </center>
          <br>
        </div>
      </div>

  <div class="container">
      <ul class="nav nav-pills nav-justified">
        <li><a data-toggle="pill" href="/">Home</a></li>
        <li><a data-toggle="pill" href="/blog/">Blog</a></li>
        <li><a data-toggle="pill" href="/diy/">DIY</a></li>
        <li><a data-toggle="pill" href="/about/">About</a></li>
        <li><a data-toggle="pill" href="/contact/">Contact</a></li>
      </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-9">

      </div>


    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
          <!-- Great, til you resize. -->
      		  </div> <!--col-sm-2-->
                <div class="col-sm-10">
                    <br><br>
                        {% block content %}
                        {% endblock %}
                    <br><br>
                    </div>
                  </div>
                  </div>
            </div>
      </div>
  </div>




  <div class="container">
    <div class="row">
      <div class="col-sm-2">
          <footer>
		            <div class="container-fluid">
                  <p><a href="#" target="blank"><img src="{% static 'personal/img/face_icon.png' %}" style='max-height:20px;' ></a> |
                      <a href="#" target="blank"><img src="{% static 'personal/img/inst_icon.png' %}" style='max-height:20px;'></a> |
                      <a href="#" target="blank"><img src="{% static 'personal/img/pin_icon.png' %}" style='max-height:20px;'></a>  |
                      <a href="#" target="blank"><img src="{% static 'personal/img/gogle_icon.png' %}" style='max-height:20px;'></a>
                  </p>
                  </div>
	        </footer>
        </div>
      <div class="col-sm-8">
      </div>
      <div class="col-sm-2">
          <footer>
            <div class="container-fluid">
              <right>
              <p>&copy;2016 by Lotka</p>
              </right>
          </footer>
      </div>

    </div>
  </div>
</body>
</html>
